@charset "UTF-8";

@font-face {
    font-family:'Pixel';
    src: url('../Pixelify_Sans/PixelifySans-VariableFont_wght.ttf');
    font-style: normal;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Pixel';
}

:root{
    --cor-bordas: #EB1E2C;
    --cor-destaque: #1FA4EB;
    --cor-letras-destaque: #EBE51E;
    --cor-letra : #ffffff;
    --cor-back-dark : #000000;
}

body{
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;

}

header{
    background-image: linear-gradient(#000000ec, #494949dd );
    color: #ffffff;
    border-bottom: 5px solid var(--cor-bordas);
}

header > h1{
    font-size: 5em;
    font-weight: bolder;
    padding: 8px;
}

header > p{
    font-size: 1.4em;
    padding-left: 10px;
}

#menu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    padding: 10px;
}

#menu > li > a{
    color: var(--cor-letra);
    text-decoration: none;
    padding: 10px;
    margin: 5px;
}

main{
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

section{
    background-color: var(--cor-back-dark);
    color: var(--cor-letra);
    padding: 20px;
    margin: 10px;
    width: 80vw;
    border: 3px solid var(--cor-bordas);
    text-align: justify;
}

h2{
    color: var(--cor-destaque);
}

h3{
    color: var(--cor-destaque);
}

section > ul{
    list-style: none;
}

section > ul > li > p{
    color: var(--cor-letras-destaque);
}

#planos{
    padding: 10px;
}

#planos > div{
    border: 2px solid var(--cor-destaque);
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

.planoGame{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;

}


.planoGame > h4{
    color: var(--cor-letras-destaque);
}


@media  screen and (max-width: 768px) {
    body{
        background-attachment: scroll;
    }
    header > h1{
        font-size: 4em;
    }

    p{
        font-size: 1.2em;
    }
}