@charset "UTF-8";

@font-face {
    font-family:'Pixel';
    src: url('../Pixelify_Sans/PixelifySans-VariableFont_wght.ttf');
    font-style: normal;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Pixel';
}

:root{
    --cor-bordas: #65F08A;
    --cor-destaque: #1FA4EB;
    --cor-letras-destaque: #EBE51E;
    --cor-letra : #ffffff;
    --cor-back-dark : #000000;
    --cor-borda-secundaria: #EB1E2C;
    --tema-light: #494949dd ;
}

body{
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    background-repeat: no-repeat;

}

header{
    background-image: linear-gradient(#000000ec, #494949dd );
    color: #ffffff;
    border-bottom: 5px solid var(--cor-bordas);
}

header > h1{
    font-size: 5em;
    border: var(--cor-destaque);
    font-weight: bolder;
    padding: 8px;
}

header > p{
    font-size: 1.4em;
    padding-left: 10px;
}

#menu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    padding: 10px;
}

#menu > li > a{
    color: var(--cor-letra);
    text-decoration: none;
    padding: 10px;
    margin: 5px;
}

main{
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

section{
    background-color: var(--cor-back-dark);
    color: var(--cor-letra);
    padding: 20px;
    margin: 10px;
    width: 80vw;
    border: 3px solid var(--cor-bordas);
    text-align: justify;
}

h2{
    color: var(--cor-destaque);
}

h3{
    color: var(--cor-destaque);
}

h4{
    color: var(--cor-letras-destaque);
}
section > ul{
    list-style: none;
}

section > ul > li > p{
    color: var(--cor-letras-destaque);
}

#planos{  
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    padding: 10px;
}

.planoGame > span > h4 > span{
    color: var(--cor-bordas);
}

#planos > div{
    border: 3.5px solid var(--cor-destaque);
    box-shadow: inset 0 0 0 3px var(--cor-borda-secundaria);
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

.planoGame{
    display: grid;
    grid-template-columns: 1fr 190px;
    grid-template-rows: 3;
    justify-content: space-between;
    align-items: center;
}   

.planoGame > span{
    grid-column-start: 1;
    grid-column-end: 2 ;
    padding: 10px;
    
}

.planoGame > span > h4{
    font-size: 1.3em;
    color: var(--cor-letras-destaque);
}

#Formulario{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
}

#Formulario > div{
    margin: 6px;
}

#Formulario > input{
    width: 100%;
    max-width: 300px;
}

#enviar{
    background-color: var(--cor-bordas);
    margin: auto;

}

#enviar:hover{
    background-color: var(--cor-destaque);
    color: var(--cor-letra);
    cursor: pointer;
}

@media  screen and (max-width: 480px) {
    body{
        background-attachment: scroll fixed;
    }
    header > h1{
        font-size: 2.8em;
    }

    p{
        font-size: 1.2em;
    }

    .planoGame{
        grid-template-columns: 1fr;
        justify-content: center;
        font-size: 0.6em;
    }

    .planoGame > img{
        display: none;
    }

    #Formulario{
        flex-direction: column;
        align-items: flex-start;
    }


}